body {
	min-width: 1200px;

	margin: 0;
	padding: 0;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;

	color: #000000;
	background: #ffffff;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 1160px;
	margin: 0 auto;
}
/* Header styles */
.page-header {
	min-height: 545px;
	background-color: #eeeeee;
}

.header-logo {
	float: left;
	width: 160px;
	height: 65px;
	margin-top: 49px;
}

.header-logo img {
	widows: 160px;
	height: 65px;
}

.header-logo img:hover {
	opacity: 0.8;
}

.header-logo img:active {
	opacity: 0.3;
}

.main-menu {
	float: left;
	margin-left: 200px;
	margin-top: 82px;
	width: 440px;
}

.main-menu ul {
	margin: 0;
	padding: 0;
}

.main-menu li {
	list-style: none;
	margin: 0;
	margin-right: 46px;
	padding: 0;
	float: left;
}

.main-menu li:last-child {
	margin-right: 0px;
}

.page-header a {
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	font-weight: 500;
}
.page-header a:hover {
	color: #fb565a;
}

.page-header a:active {
	color: #a6a6a6;
}

.cart {
	float: right;
}

.cart-link {
	position: relative;
	margin-top: 82px;
	padding-left: 40px;

	display: inline-block;
}

.cart-link::before {
	content: "";
	position: absolute;
	top: 2px;
	left: 0px;
	
	width: 15px;
	height: 15px;
	
	background: url("../img/sprite.png") no-repeat -42px -115px;
}

/* Slider */

.slider {
	position: relative;

	width: 100%;
	margin: 0 auto;

	overflow: hidden;
}

.slider input[type="radio"] {
	display: none;
}

.slide {
	height: 431px;
	display: none;
}

.slide-content h2 {
	margin: 0;
	padding-top: 77px;
	padding-bottom: 24px;

	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	color: #000;
}

.slide-content p {
	margin-bottom: 40px;
}

.slider-controls {
	position: absolute;
	bottom: 95px;
	left: 536px;
	height: 18px;

	text-align: center;

	font-size: 0px;
}

.slider-controls label {
	display: inline-block;
	position: relative;

	width: 8px;
	height: 8px;
	margin: 0 17px 0 0;

	border-radius: 50%;
	background-color: #fff;
	border: 6px solid white;

	cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
	box-shadow: inset 0px 0px 0px 2px #c1c1c1;
}


.slide:nth-child(1) {
	background-image: url("../img/slider-item-1.png");
	background-repeat: no-repeat;
	background-position: 93% 18px;
}

.slide:nth-child(2) {
	background-image: url("../img/slider-item-2.png");
	background-repeat: no-repeat;
	background-position: 100% 0px;
}

.slide:nth-child(3) {
	background-image: url("../img/slider-item-3.png");
	background-repeat: no-repeat;
	background-position: 100% 20px;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: block;
}