body {
	min-width: 1200px;

	margin: 0;
	padding: 0;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;

	color: #000000;
	background: #ffffff;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 1160px;
	margin: 0 auto;
}

.btn {
	display: block;

	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 3px;
}

/* Header styles */
.page-header {
	min-height: 545px;
	background-color: #eeeeee;
}

.header-logo {
	float: left;
	width: 160px;
	height: 65px;
	margin-top: 49px;
}

.header-logo img {
	widows: 160px;
	height: 65px;
}

.header-logo img:hover {
	opacity: 0.8;
}

.header-logo img:active {
	opacity: 0.3;
}

.main-menu {
	float: left;
	margin-left: 200px;
	margin-top: 80px;
	width: 440px;
}

.main-menu ul {
	margin: 0;
	padding: 0;
}

.main-menu li {
	list-style: none;
	margin: 0;
	margin-right: 45px;
	padding: 0;
	float: left;
}

.main-menu li:last-child {
	margin-right: 0px;
}

.main-menu a,
.cart a {
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	font-weight: 500;
}
.main-menu a:hover,
.cart a:hover {
	color: #fb565a;
}

.main-menu a:active,
.cart a:active {
	color: #a6a6a6;
}

.cart {
	float: right;
}

.cart-link {
	position: relative;
	margin-top: 80px;
	padding-left: 40px;

	display: inline-block;
}

.cart-link::before {
	content: "";
	position: absolute;
	top: 2px;
	left: 0px;
	
	width: 15px;
	height: 15px;
	
	background: url("../img/sprite.png") no-repeat -42px -115px;
}

/* Slider */

.slider {
	position: relative;

	width: 100%;
	margin: 0 auto;

	overflow: hidden;
}

.slider input[type="radio"] {
	display: none;
}

.slide {
	height: 431px;
	display: none;
}

.slide-content h2 {
	margin: 0;
	padding-top: 77px;
	margin-bottom: 25px;

	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	color: #000;
}

.slide-content p {
	line-height: 24px;
	margin-bottom: 40px;
}

.slider-controls {
	position: absolute;
	bottom: 95px;
	left: 536px;
	height: 18px;

	text-align: center;

	font-size: 0px;
}

.slider-controls label {
	display: inline-block;
	position: relative;

	width: 8px;
	height: 8px;
	margin: 0 17px 0 0;

	border-radius: 50%;
	background-color: #fff;
	border: 6px solid white;

	cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
	box-shadow: inset 0px 0px 0px 2px #c1c1c1;
}


.slide:nth-child(1) {
	background-image: url("../img/slider-item-1.png");
	background-repeat: no-repeat;
	background-position: 93% 18px;
}

.slide:nth-child(2) {
	background-image: url("../img/slider-item-2.png");
	background-repeat: no-repeat;
	background-position: 100% 0px;
}

.slide:nth-child(3) {
	background-image: url("../img/slider-item-3.png");
	background-repeat: no-repeat;
	background-position: 100% 20px;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: block;
}

/* end slider styles */
/* end header styles */


/* button styles */

.slider .btn {
	background-color: #fb565a;
	padding: 16px 54px;
	height: 18px;
	width: 132px;
}

.slider .btn:hover,
.btn-modal:hover {
	background-color: #e74246;
}

.slider .btn:active,
.btn-modal:active {
	background-color: #d7373b;
	box-shadow: inset 0 3px #c13135;
}

.content-services-item .btn {
	padding: 17px 38px;
	height: 16px;
	width: 84px;
}

.btn-red {
	background-color: #fb565a;
}

.btn-red:hover {
	background-color: #e74246;
}

.btn-red:active {
	background-color: #d7373b;
	box-shadow: inset 0 3px #c13135;
}

.btn-green {
	background-color: #00ca74;
}

.btn-green:hover {
	background-color: #00bc6c;
}

.btn-green:active {
	background-color: #00aa62;
	box-shadow: inset 0 3px #009958;
}

.btn-yellow {
	background-color: #efc84a;
}

.btn-yellow:hover {
	background-color: #eab534;
}

.btn-yellow:active {
	background-color: #e5a722;
	box-shadow: inset 0 3px #ce961f;
}

/* end of button styles */

/* Main styles */
/* Services */

.content-services li {
	list-style: none;
	padding: 0;
	margin: 0;
}

.content-services {
	margin: 0;
	margin-top: 80px;
}

.content-services ul {
	display: grid;
	padding: 0;
	margin: 0;
	padding-bottom: 80px;
	grid-column-gap: 100px;
	grid-row-gap: 25px;
	grid-template-columns: 300px 300px 300px;

	border-bottom: 2px solid #eee
}

.content-services-item h2 {
	margin: 0;
	margin-top: 24px;

	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
}

.content-services-item p {
	max-width: 260px;

	margin: 0;
	margin-bottom: 35px;

	font-size: 16px;
	line-height: 24px;
}

/* End of Services*/

/* About */
	/* Left side */
.content-about {
	padding-top: 40px;
}

.content-about-inner {
	display: flex;
	justify-content: space-between;

	padding-bottom: 45px;
	
	border-bottom: 2px solid #eeeeee;
}

.content-about-left {
	display: flex;
	flex-direction: column;
	max-width: 660px;
}

.content-about-left h1 {
	margin: 0;
	margin-top: 30px;
	margin-bottom: 35px;

	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

.content-about-left h3 {
	margin-top: 40px;

	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}

.content-about-left-list {
	margin-top: 30px;
	list-style: none;
}

.content-about ul {
	padding: 0;
	margin: 0;
}

.content-about-left-list li {
	position: relative;

	margin-bottom: 30px;
	padding-left: 35px;

	color: #283136;
}

.about-item-left::before {
	content: "";

	position: absolute;
	top: 50%;
	left: 0;

	width: 25px;
	height: 2px;
	background-color: #fb565a;
}
	/* Right side */

.content-about-right {
	display: flex;
	flex-direction: column;
	max-width: 360px;
}

.content-about-right h3 {
	margin: 0;
	margin-top: 35px;

	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
}

.content-about-right ul {
	display: flex;
	
	margin-top: 50px;

	list-style: none;
}

.about-item-right {
	max-width: 33%;
}

.about-item-right span {
	font-size: 45px;
	line-height: 10px;
	font-weight: 700;
}

.about-item-right sup {
	position: relative;
	top: -5px;
	left: -2px;

	font-size: 30px;
	font-weight: 700;
}

.about-item-right p {
	margin-top: 20px;

	font-size: 16px;
	line-height: 18px;
}

/* End of about */

/* Partners */

.content-partners {
	padding: 0;
	margin: 0;
}

.content-partners-list {
	list-style: none;

	display: grid;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
	grid-template-columns: 279px 298px 298px 279px;
	grid-template-rows: 180px;

	border-bottom: 2px solid #eee;
}

.content-partners-item {
	position: relative;

	display: flex;
	justify-content: center;
	height: 100%;
}

.content-partners-item::after {
	content: "";

	position: absolute;
	top: 64px;
	right: 0;

	width: 2px;
	height: 52px;

	background-color: #eee;
	transform: translateX(-50%);
}

.content-partners-item:last-child::after {
	content: none;
}

.content-partners-item a {
	align-self: center;
}

.content-partners-item img {
	opacity: 0.2;
}

.content-partners-item img:hover {
	opacity: 1;
}

.content-partners-item img:active {
	opacity: 0.1;
}

/* End of partners */

/* Map */

.map {
	position: relative;

	height: 416px;
	margin-top: 80px;
}

.map-contacts {
	position: absolute;
	top: 50%;
	left: 50%;

	width: 219px;
	height: 208px;
	padding: 53px 50px 47px 50px;

	background-color: #fff;
	transform: translate(-580px, -50%);
}

.map-contacts h3 {
	margin: 0;
	margin-bottom: 32px;

	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
}

.map-contacts p {
	margin-bottom: 34px;

	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #666666;
}

.btn-modal {
	padding: 18px 44px;
	height: 14px;
	width: 131px;

	background-color: #fb565a;
}

/* End of map */

/* Modal-form */

.modal {
	display: none;
	padding: 73px 90px 84px 98px;
	width: 760px;
	height: 403px;
	position: fixed;
	top: 156px;
	left: 50%;
	margin-left: -480px;

	background-color: #fff;
	box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.modal--show {
	display: block;
}

.form-field {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
}

.modal h2 {
	padding: 0;
	margin: 0;
	margin-bottom: 50px;

	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

/* End of Modal-form */

/* Footer */

.page-footer {
	margin: 0;
	margin-top: 69px;
	margin-bottom: 70px;
}

.footer-inner {
	margin: 0;
	display: flex;
}

.footer-socials {
	display: flex;

	max-width: 260px;
	margin: 0;
	margin-right: 137px;
}

.footer-promo {
	display: flex;
	flex-wrap: wrap;
	max-width: 560px;
}

.footer-promo h3 {
	margin: 0;

	font-size: 36px;
	line-height: 36px;
	font-weight: 700;

}

.footer-promo p {
	margin: 0;
	margin-top: 12px;

	font-size: 16px;
	line-height: 22px;
	color: #444444;
}

.social-btn {
	position: relative;
	width: 78px;
	height: 78px;
	margin-right: 13px;
	
	font-size: 0;
	text-decoration: none;

	background-color: #eee;
	border-radius: 50%;
}

.social-btn::before {
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	
	transform: translate(-50%, -50%);
	background-image: url("../img/sprite.png");
	background-position: center;
	background-repeat: no-repeat;
}

.social-btn:hover {
	background-color: #e74246;
}

.social-btn:active {
	background-color: #d7373b;
}

.social-btn:active::before {
	opacity: 0.3;
}

.social-btn-vk::before {
	width: 26px;
	height: 15px;

	background-position: -312px -70px;
}

.social-btn-fb::before {
	width: 12px;
	height: 22px;

	background-position: -10px -115px;
}

.social-btn-inst::before {
	width: 21px; 
	height: 21px;
	background-position: -271px -70px;
}

/* End of footer */